/* RESET */
body,
h1,
h2,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* MENU */

.menu {
  background: #252525;
  color: #ffffff;
  padding: 10px 0;
  margin: 0 auto;
}

.menu_titulo {
  margin: 20px auto 15px auto;
}

.menu_nav {
  margin: 0 0px;
  align-self: center;
}

.menu_nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.125em;
}

.menu_nav ul {
  margin: 10px 0;
  display: flex;
}

.menu_nav ul li a {
  padding: 5px;
}

/* INTRO */

.intro {
  background: url(../img/bg_intro.jpg) no-repeat center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.intro h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.intro h1::after {
  content: "";
  width: 20px;
  height: 5px;
  background: #ffffff;
  margin: 15px auto;
  display: block;
}

.intro p {
  margin-top: 10px;
  font-style: italic;
}

/* SOBRE */

.sobre {
  padding: 10%;
  text-align: center;
}

.sobre .container {
  max-width: 100%;
}

.sobre h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.sobre_item {
  margin: 40px auto;
  max-width: 100%;
  height: 250px;
}

.sobre_item img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.sobre_item h3 {
  font-size: 2.25em;
  line-height: 1em;
  background: #252525;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  position: relative;
  width: 200px;
  top: -20px;
  margin: 0;
  padding: 5px;
}

.sobre > p {
  font-size: 1.125em;
  text-align: center;
  font-style: italic;
  line-height: 1.4em;
  max-width: 460px;
  margin: 0px auto 20px auto;
}

/* PRODUTOS */

.produtos {
  background: #e7e4d8;
  padding: 30px 0;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
}

.produtos_item {
  margin: 20px auto;
}

.produtos_item img {
  border: 3px solid #252525;
}

.produtos_item h2 {
  margin-bottom: 5px;
  margin-bottom: 20px;
}

.produtos_item p {
  font-size: 0.875em;
  line-height: 1.4em;
  text-align: justify;
  margin-top: 20px;
}

.produtos_btn {
  border: 3px solid #252525;
  text-decoration: none;
  color: #252525;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 20px auto 0px auto;
  padding: 10px 15px;
}

/* LOCAIS */

.locais {
  padding: 40px 0;
}

.locais_item {
  margin: 40px auto;
}

.locais_item h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.locais_item p {
  font-size: 1.125em;
  line-height: 1.4em;
  margin-bottom: 40px;
  text-align: justify;
}

.locais_item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #252525;
  border: 3px solid #252525;
  margin: 0 0;
  padding: 10px 15px;
}

/* ASSINE */

.assine {
  background: #e7e4d8;
  padding: 30px 0;
}

.assine_info {
  margin: 0 10px;
}

.assine_info h2 {
  font-size: 2.25em;
  margin-bottom: 10px;
}

.assine_info p {
  font-size: 1.5em;
  font-style: italic;
}

.assine form {
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.assine form label {
  display: none;
}

.assine input {
  align-self: flex-start;
  padding: 10px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, serif;
  max-width: 100%;
}

.assine button {
  align-self: flex-start;
  background: #252525;
  padding: 13px;
  border: none;
  font-family: Georgia, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

/* FOOTER */

footer {
  background: #d6d3c8;
  text-align: center;
  padding: 40px 0;
}

footer p {
  font-size: 1.125em;
  line-height: 1.4em;
  margin: 0 10px;
}
